{% extends 'try/main.html' %}
{% load static %}

{% block content %}


{% comment %} 
<div class="box" id="form-wrapper">
  <form action="" id="form">
      <div id="user-info">
          <!-- the user will be prompoted to enter personal infomation -->
          <div class="form-field2">
              <input required class="form-control" type="text" name="name" placeholder="Name...">
          </div>
          <div class="form-field2">
              <input required class="form-control" type="email" name="email" placeholder="Email...">
          </div>

      </div>
  
      <input id="form-button" class="btn-success" type="submit" value="Continue">
  </form>

</div> {% endcomment %}



<div class="welcome-page">
  <div class="welcome-title">
    <h1>Welcome! We Love Your Feedback</h1>
    
  </div>
  <div class="form-sec">
    <form action="POST" id="form">

        {% csrf_token %}

        <div id="user-info">
          <!-- the user will be prompoted to enter personal infomation -->
          <div class="form-field2">
              <input required class="form-control" type="text" name="name" placeholder="Name...">
          </div>
          <div class="form-field2">
            <select required name="subject" id="id_subject"></select>
          </div>
          <div class="form-field2">
              <input required class="form-control" type="email" name="email" placeholder="Email...">
          </div>

      </div>

      <div class="add-space">
        <input class="submit-butt" type="submit" value="Submit">
      </div>
      <div class="butt-center">
        <div class="custom-butt"><a href="#">Login To Your Account</a>  &#10230;</div>
      </div>
    </form>
  </div>

</div>




{% endblock content %}

