{% extends 'try/main.html' %}
{% load static %}

{% block content %}

<h2>Welcome back {{ request.user|title }} !</h2>
<div class="dashboard">
  <div class="small-container">
    <div class="name-w">
      <h1>Welcome Jack!</h1>
      <form method="post" action="">
        {% csrf_token %}
        
        <input style="padding-top: 20px;" class="submit-butt" type="submit" value="Logout">
        {% comment %} <input type="submit" value="Logout"> {% endcomment %}
    </form>
    </div>
  </div>
</div>


{% endblock content %}

