<!doctype html>
<html lang="en">
  <!-- ready for depoloyment! -->
  <head>
    <title>Roxy | Example Webiste</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- styles icons from font awsome -->
    <script
    src="https://kit.fontawesome.com/88ea6b8356.js"
    crossorigin="anonymous" ></script>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>





    <!-- this will begin the banner section layer -->
    <section class="showcase">
      <header>
        <div class="respon-menu">

          <div id="mySidenav" class="sidenav">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <a href="./index.html">Home</a>
              <a href="./about-us.html">About</a>
              <a href="#">Sustainablility</a>
  
              <a href="#">Products</a>
              <a href="#">Cart</a>
            </div>

            <div class="meny-butt">
              <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
            </div>

            <div class="respon-title">
              <div class="title-h">
                  Roxy
              </div>
            </div>
            
      </div>

        <div class="logo col-2 none">
          <h2 class="logo">Roxy</h2>
        </div>
        <div class="col-2 none">
          <div class="menu-sec">
            <ul>
              <li><a href="./index.html">Home</a></li>
              <li><a href="./about-us.html">About Us</a></li>
              <li><a href="./contact.html">Contact</a></li>
              <li><a href="./login.html">Login</a></li>


            </ul>
          </div>
        </div>
        
        <!-- <div class="toggle"></div> -->
      </header>

      <video src="./img/video.mp4" muted loop autoplay></video>
      <div class="overlayy"></div>
      <!-- <div class="text">
        <h2>Health </h2>
        <h3>Is Wealth</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis optio illum, ea omnis dolores vitae ab quod minus molestiae tenetur earum eos aliquam deserunt reprehenderit labore a. Illo, inventore culpa!</p>
      </div> -->

      <div class="banner-text">
        <div class="title-banner">
          <h1>Eat to <br>
          <span class="special-text">Heal</span></h1>
        </div>
        <div class="banner-para">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ex quaerat laboriosam quidem nobis modi, commodi expedita quas libero debitis neque mollitia adipisci culpa non est excepturi facere recusandae officiis!</p>
        </div>
      </div>

      <ul class="social">
        <li><a href=""><i class="fab fa-facebook fa-2x"></i></a></li>
        <li><a href=""><i class="fab fa-twitter fa-2x"></i></a></li>
        <li><a href=""><i class="fab fa-instagram fa-2x"></i></a></li>
      </ul>
  

      
    </section>


 <!-- will begin the  -->

 <!-- the three box section that with things we can help you with -->
 <div class="three-box-sec">
  <div class="main-sec-title">
    <h1>We Offer</h1>
  </div>

   <div class="small-container">
     
     <div class="row">
       <div class="col-3 box">
         <!-- simple logo image -->
         <img src="./img/all_online.png" width="100px
         " alt="">
         <h3>Virtual Consulation</h3>
         <p>Due to the pandemic all of our consulations are currently taking place online to protect our health and your. Application form will explain further.

         </p>
        
         <div class="butt"><a href="#">Persoanl Shopper</a>  &#10230;</div>
       </div>

       <div class="col-3 box">
        <!-- simple logo image -->
        <img src="./img/wave.png" width="100px
        " alt="">
        <h3>Frequency Therapy</h3>
        <p>New research has proved that wave frequeny cna be used to help the body heal itself. We are strong advocates for this technology and are confident that it is the future!

        </p>
        <div class="butt"><a href="#">Persoanl Shopper</a>  &#10230;</div>
      </div>

      <div class="col-3 box">
        <!-- simple logo image -->
        <img src="./img/personal-shopper.png" width="100px
        " alt="">
        <h3>Personal Shopper</h3>
        <p>Shopping and plannine meals is difficult we provide new services to have a certified nutrionist join you shopping. There are may benefits to shopping local. </p>
        <div class="butt"><a href="#">Eat Local</a>  &#10230;</div>
      </div>



     </div>
   </div>
 </div>

 <!-- two part section -->
<div class="two-part-sec">
  <div class="large-conatiner">
    <div class="row">
      <div class="col-2-l">
        <img src="./img/healthy.jpg" width="100%" alt="">
      </div>
      <div class="col-2-l padding-b">
        <h2>Healing Physically <br> and Spirtually, <br> Starts Here</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sequi aspernatur corporis aliquid. Reiciendis aliquam nemo ea adipisci nulla maiores sapiente eius, dicta veritatis est vitae eos. Facere similique qui exercitationem asperiores at sequi expedita, dolore tempore voluptas, voluptates esse!</p>
        <div class="butt width-butt"><a href="#">Eat Local</a>        &#10230;</div>
      </div>
    </div>
  </div>
</div>




<!-- this will begin the banner section -->

<div class="four-banner-sec">
  <!-- title section -->
  
  <div class="large-conatiner">
    <div class="title-side">
      <h2>Featured Health Topics</h2>
    </div>
    <div class="row">
      <div class="col-4 border-side">
        <div class="container">
          <img src="./img/corona.png" alt="Norway" style="width:100%;">
          <div class="text-block"> 
            <h4>Cornovirus</h4>
            
          </div>
        </div>

      </div>

      <div class="col-4 border-side">
        <div class="container">
          <img src="./img/food-cc.png" alt="Norway" style="width:100%;">
          <div class="text-block food-c"> 
            <h4>Nutrion</h4>
          </div>
        </div>

      </div>

      <div class="col-4 border-side">
        <div class="container">
          <img src="./img/women_kids.png" alt="Norway" style="width:100%;">
          <div class="text-block women"> 
            <h4>Parenthood</h4>
          </div>
        </div>

      </div>

      <div class="col-4 border-side">
        <div class="container">
          <img src="./img/free!.png" alt="Norway" style="width:100%;">
          <div class="text-block free"> 
            <h4>Womens Health</h4>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<!-- building a raising the bar section with some small icons and than creating the eating local table -->
<div class="blue-banner">
  <div class="large-conatiner top-pad">
    <div class="row">
      <div class="col-2-l increase-font">
        <h1>A nutritionist is an <span class="i">expert</span> in the use of food and <span class="i">nutrition</span> to promote health and manage diseases</h1>
        <small class="">We offer care from a team of foward thinking nutrionist all over the world.</small>
        <br>
        <br>
        <div class="butt width-butt"><a href="#">Read our quality gurantee </a> &#10230;</div>
      </div>
      <div class="col-2-l">
        <div class="sec">
          <div class="half">
            <i class="fas fa-search fa-3x" style="color: #420039;"></i>
          </div>
          <div class="half">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, ipsum officia. Incidunt alias voluptates, eos cum voluptatum modi. Fuga, magni.</p>
          </div>
        </div>

        <div class="sec">
          <div class="half">
            <i class="far fa-check-square fa-3x" style="color: #420039;"></i>
          </div>
          <div class="half">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, ipsum officia. Incidunt alias voluptates, eos cum voluptatum modi. Fuga, magni.</p>
          </div>
        </div>

        <div class="sec">
          <div class="half">
            <i class="fas fa-plus-square fa-3x" style="color: #420039;"></i>
          </div>
          <div class="half">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, ipsum officia. Incidunt alias voluptates, eos cum voluptatum modi. Fuga, magni.</p>
          </div>
        </div>
      </div>


      </div>
    </div>
  </div>
</div>

<!-- starting the what is the difference section -->

<div class="what-is-the-diff">
  <div class="title-diff"><h1>What is the difference</h1></div>
  <div class="small-container added-pad">
    <div class="row">
      <div class="col-2-e">
        <h3>Dietitian</h3>
        <p>
          A registered dietitian is a nutrition professional who is the most credible and objective source of nutrition information. They are trained in nutrition to prevent disease. Registered Dietitian Nutritionists (RDN) must complete a four year program in Nutrition from an accredited University.</p>
        <img src="./img/Dietian.png" width="100%"  alt="">
      </div>

      <div class="col-2-e">
        <h3>Nutritionist</h3>
        <p>
          In clinical practice, a specialist in nutrition. Nutritionists can help patients with special needs, allergies, health problems, or a desire for increased energy or weight change devise healthy diets. Some nutritionists in private practice are well- trained, hold a degree and are licensed.</p>
        <img src="./img/Nurt.png" width="100%" alt="">
      </div>

    </div>
  </div>
</div>

<div class="eat-local-sec">
  <div id="London" class="tabcontent">
    <div class="title-main"><h1>Eat Local</h1></div>
    <div class="row">
      <div class="col-6">
        <h2>Apples</h2>
        <img src="./img/apples.jpg" width="100%" alt="">
      </div>
      <div class="col-6">
        <h2>Carrots</h2>
        <img src="./img/carrot.jpg" width="100%"   alt="">
      </div>
      <div class="col-6">
        <h2>Beets</h2>
        <img src="./img/beets.jpg" width="100%"   alt="">
      </div>
      <div class="col-6">
        <h2>Grapes</h2>
        <img src="./img/grape.jpg" width="100%"   alt="">
      </div>
      <div class="col-6">
        <h2>Blueberries</h2>
        <img src="./img/blub.jpg" width="100%"  alt="">
      </div>
      <div class="col-6">
        <h2>Broccoli</h2>
        <img src="./img/broccoli .jpg" width="100%"  alt="">
      </div>
    </div>
  </div>
  
  <div id="Paris" class="tabcontent">
    <div class="title-main"><h1>Eat Local</h1></div>
    <div class="row">
      <div class="col-6">
        <h2>Garlic</h2>
        <img src="./img/garlic.jpg" width="100%" alt="">
      </div>
      <div class="col-6">
        <h2>Green Beans</h2>
        <img src="./img/green_beans.jpg" width="100%"   alt="">
      </div>
      <div class="col-6">
        <h2>Corn</h2>
        <img src="./img/corn.jpg" width="100%"   alt="">
      </div>
      <div class="col-6">
        <h2>Celery</h2>
        <img src="./img/celery.jpg" width="100%"   alt="">
      </div>
      <div class="col-6">
        <h2>Cauliflower</h2>
        <img src="./img/Cauliflower .jpg" width="100%"  alt="">
      </div>
      <div class="col-6">
        <h2>Cantaloupe</h2>
        <img src="./img/cantaloupe.jpg" width="100%"  alt="">
      </div>
    </div>
  </div>
  
  <div id="Tokyo" class="tabcontent">
    <div class="title-main"><h1>Eat Local</h1></div>
    <div class="row">
      <div class="col-6">
        <h2>Onions</h2>
        <img src="./img/onions.jpg" width="100%" alt="">
      </div>
      <div class="col-6">
        <h2>Kale</h2>
        <img src="./img/kale.jpg" width="100%"   alt="">
      </div>
      <div class="col-6">
        <h2>Sprouts</h2>
        <img src="./img/sprouts.jpg" width="100%"   alt="">
      </div>
      <div class="col-6">
        <h2>Shallots</h2>
        <img src="./img/shallots.jpg" width="100%"   alt="">
      </div>
      <div class="col-6">
        <h2>Endive</h2>
        <img src="./img/endive.jpg" width="100%"  alt="">
      </div>
      <div class="col-6">
        <h2>Mushrooms</h2>
        <img src="./img/mushrooms.jpg" width="100%"  alt="">
      </div>
    </div>
  </div>
  
  <div id="Oslo" class="tabcontent">
    <div class="title-main"><h1>Eat Local</h1></div>
    <div class="row">
      <div class="col-6">
        <h2>Apples</h2>
        <img src="./img/apples.jpg" width="100%" alt="">
      </div>
      <div class="col-6">
        <h2>Carrots</h2>
        <img src="./img/carrot.jpg" width="100%"   alt="">
      </div>
      <div class="col-6">
        <h2>Beets</h2>
        <img src="./img/beets.jpg" width="100%"   alt="">
      </div>
      <div class="col-6">
        <h2>Grapes</h2>
        <img src="./img/grape.jpg" width="100%"   alt="">
      </div>
      <div class="col-6">
        <h2>Blueberries</h2>
        <img src="./img/blub.jpg" width="100%"  alt="">
      </div>
      <div class="col-6">
        <h2>Broccoli</h2>
        <img src="./img/broccoli .jpg" width="100%"  alt="">
      </div>
    </div>
  </div>
  
  <button class="tablink" onclick="openCity('London', this, 'rgb(238, 228, 228)')" id="defaultOpen">Summer</button>
  <button class="tablink" onclick="openCity('Paris', this, 'rgb(245, 206, 138)')">Fall</button>
  <button class="tablink" onclick="openCity('Tokyo', this, 'rgb(158, 190, 189)')">Winter</button>
  <button class="tablink" onclick="openCity('Oslo', this, 'orange')">Spring</button>
  
  
</div>


<!-- meet are awsome team of nutrionist  -->
<div class="meet-the-team">

  <div class="main-banner-title">
   <h2>Meet The Team</h2>
  </div>
  <div class="small-container">
    <div class="row">
      <div class="col-3-l">
        <img src="./img/bosssss1.png" 
        alt="">
        <div class="info">
          <div class="name"><h1>Janes Eversen</h1></div>
          <div class="posistion">Founder Dietitian</div>
        </div>
      </div>

      <div class="col-3-l">
        <img src="./img/bosssss2.png" 
        alt="">
        <div class="info">
          <div class="name"><h1>Kelly Miles</h1></div>
          <div class="posistion">Certified Holostic Nutritionist</div>
        </div>
      </div>

      <div class="col-3-l">
        <img src="./img/bosssss3.png" 
         alt="">
        <div class="info">
          <div class="name"><h1>Brando Jay, MD</h1></div>
          <div class="posistion">Associate of Family Medicine </div>
        </div>
      </div>
    </div>
  </div>
 

</div>

<div class="hoz-banner">
  <img src="./img/Post-8.png" alt="">
  
</div>





<!-- this will be footer section  -->
<div class="footer-sec-black">
  <div class="large-conatiner">
    <div class="row">
      <div class="col-5">
        <div class="logo">
          <i class="fas fa-leaf" style="color: aliceblue;" ></i> Roxy 
        </div>
        <p class="copyright" >Copyright 2020 - Estrella Vargas | Teley </p>
      </div>
      <div class="col-4-s">
        <ul>
          <li><a class="bolded" href="#">Products</a></li>
          <li><a href="#">Product</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Login</a></li>
          

        </ul>
      </div>

      <div class="col-4-s">
        <ul>
          <li><a class="bolded" href="#">About us</a></li>
          <li><a href="#">Learn More</a></li>
          <li><a href="#">Featured</a></li>
          <li><a href="#">Careers</a></li>
          

        </ul>
      </div>

      <div class="col-4-s">
        <ul>
          <li><a class="bolded" href="#">Resources</a></li>
          <li><a href="#">Help Center</a></li>
          <li><a href="#">Book a Demo</a></li>
          <li><a href="#">Server Status</a></li>
     
        </ul>
      </div>

      <div class="col-4-s">
        <ul>
          <li><a class="bolded" href="#">Get In Touch</a></li>
          <li><a href="#">Feedback</a></li>
          <li><a href="#">Thanks for your support</a></li>

        </ul>
        <div class="social-section">
          <ul>
            <li><a href=""><i class="fab fa-facebook fa-1x" ></i></a></li>
            <li><a href=""><i class="fab fa-twitter fa-1x"></i></a></li>
            <li><a href=""><i class="fab fa-instagram fa-1x"></i></a></li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function openCity(cityName,elmnt,color) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].style.backgroundColor = "";
    }
    document.getElementById(cityName).style.display = "block";
    elmnt.style.backgroundColor = color;
  
  }
  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
  </script>


    <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }
      
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
      </script>
  </body>
</html>