{% extends 'try/main.html' %}
{% load static %}

{% block content %}



<div class="welcome-page" style="height: 60vh;">
  <div class="welcome-title">
    <h1>Welcome! Please Login</h1>
    
  </div>
  <div class="form-sec">
    <form method="post">

        {% csrf_token %}
        

        <div class="input-box" style="padding: 15px;">
          <label for="id_username">Username: </label>
          <input id="id_username" type="text" name="username" required>
        </div>
        <div class="input-box" style="padding: 15px;">
          <label for="id_password">Password: </label>
          <input id="id_password" type="password" name="password" required>
        </div>

        <!-- <p><label for="id_subject">Subject:</label>
    <input id="id_subject" type="text" name="subject" maxlength="100" required></p> -->

      <input style="padding-top: 20px;" class="submit-butt" type="submit" value="Submit">
      <p>Don't Have an Account?</p>
      <div class="butt-center" style="padding-top: 20px;">
        <div class="custom-butt">
        <a href="{% url 'signup' %}">Register</a>  &#10230;</div>
      </div>
      <button class="butt-center" style="padding-top: 20px;">
        <a href="{% url 'signup' %}">Register</a>  &#10230;</div>
      </button>
    </form>
  </div>

</div>




{% endblock content %}