{% extends 'try/main.html' %}
{% load static %}

{% block content %}



<div class="welcome-page">
  <div class="welcome-title">
    <h1>Welcome! Please Login</h1>
    
  </div>
  <div class="form-sec">
    <form method="post" action="/dashboard/">

        {% csrf_token %}
        {{ form }}

      <input class="submit-butt" type="submit" value="Submit">
      <p>Don't Have an Account?</p>
      <div class="butt-center">
        <div class="custom-butt"><a href="./register.html">Register</a>  &#10230;</div>
      </div>
    </form>
  </div>

</div>




{% endblock content %}