{% extends 'try/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<div class="welcome-page">
  <div class="welcome-title">
    <h1>Welcome! Please Register Here</h1>
    
  </div>
  <div class="form-sec">
    <form action="post">
        
        {% csrf_token %}
        {{ form|crispy }}

          {{ formIn }}
      <input class="submit-butt" type="submit" >
      <p>Have an Account?</p>
      <div class="butt-center">
        <div class="custom-butt"><a href="#">Login</a>  &#10230;</div>
      </div>
    </form>
  </div>

</div>


{% endblock content %}

