{% extends 'try/main.html' %}
{% load static %}

{% block content %}


<div class="welcome-page">
  <div class="welcome-title">
    <h1>Welcome! Please Register Here</h1>
    
  </div>
  <div class="form-sec">
    <form method="post">
        
        {% csrf_token %}
    
        <div class="input-box">
          <label for="id_username">Username: </label>
          <input id="id_username" type="text" name="username">
        </div>
        <div class="input-box">
          <label for="id_first_name">First Name: </label>
          <input id="id_first_name" type="text" name="first_name">
        </div>
        <div class="input-box">
          <label for="id_last_name">Last Name: </label>
          <input id="id_last_name" type="text" name="last_name">
        </div>
        <div class="input-box">
          <label for="id_email">Email: </label>
          <input id="id_email" type="email" name="email">
        </div>
        <div class="input-box">
          <label for="id_password1">Password: </label>
          <input id="id_password1" type="password" name="password1">
        </div>
        <div class="input-box">
          <label for="id_password2">Re-enter Password: </label>
          <input id="id_password2" type="password" name="password2">
        </div>
         
        
      <input class="submit-butt" type="submit" >
      <p>Have an Account?</p>
      <div class="butt-center">
        <div class="custom-butt"><a href="#">Login</a>  &#10230;</div>
      </div>
    </form>
  </div>

</div>


{% endblock content %}

