{% extends 'try/main.html' %}
{% load static %}

{% block content %}


<div class="welcome-page">
  <div class="welcome-title">
    <h1>Welcome! Please Register Here</h1>
    
  </div>
  <div class="form-sec">
    <form action="post">

        {% csrf_token %}

        {{ form }}

      <input class="submit-butt" type="submit" value="Submit">
      <p>Have an Account?</p>
      <div class="butt-center">
        <div class="custom-butt"><a href="#">Login</a>  &#10230;</div>
      </div>
    </form>
  </div>

</div>


{% endblock content %}

